



<div class="container padding-top-100">
        <div class="row">
             <div class="col-md-8 col-md-offset-2 text-center">
                 <h1 class="font-collaborate uppercase typl8-mega">
                     Estudos de caso
                 </h1>
                 <p class="text-center">Veja aqui como nossos clientes de diversos segmentos vêm obtendo resultados melhores e mais consistentes em Marketing Digital.</p>
                </div>
        </div>
  <div class="row margin-top-40">
      <div class="col-md-3 col-md-offset-2"><hr></div>
      <div class="col-md-2 text-center">
          <small class="uppercase fg-light-gray">Segmentos</small>
      </div>
      <div class="col-md-3"><hr></div>
    </div>
  <div class="row margin-top-10">
      <div class="col-md-10 col-md-offset-1 ">
          
          
          
          <div class="segments-container">
               <a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/educacao/" class="text-center">
                    <span class="circle">  
                    <i class="fa fa-graduation-cap"></i>
                </span>
                    <span class="text-center font-size-14 fg-rd">
                    Educação
                    </span>
                </a>
              
              <a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/industria/" class="text-center">
                    <span class="circle">  
                        <i class="fa fa-industry"></i>
                    </span>
                   <span class="text-center font-size-14 fg-rd">
                        Indústria
                    </span>
               </a>
      
           <a class="text-center" href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/parceiros-da-resultados-digitais/" class="text-center">
            <span class="circle">  
                <i class="fa fa-users"></i>
            </span>
            <span class="text-center font-size-14 fg-rd">
                    Parceiros
                    </span>
            </a>
              <a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/saude-e-estetica/" class="text-center">
            <span class="circle margin-left-20">  
                <i class="fa fa-heartbeat"></i>
            </span>
            <span class="text-center font-size-14 fg-rd">
                    Saúde e Estética
            </span>
            </a>
              
               <a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/servicos/" class="text-center">
            <span class="circle">  
            <i class="fa fa-wrench"></i>
        </span>
            <span class="text-center font-size-14 fg-rd">
                    Serviços
                    </span></a>
              
          <a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/setor-imobiliario/" class="text-center">
                <span class="circle margin-left-20">  
                    <i class="fa fa-home"></i>
                </span>
                <span class="text-center font-size-14 fg-rd">
                    Setor Imobiliário
                </span>
          </a>
          <a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/software/" class="text-center">
                <span class="circle">  
                    <i class="fa fa-code"></i>
                </span>
                <span class="text-center font-size-14 fg-rd">
                    Software
                </span>
          </a>
              
           <a href="/estudos-de-caso/" class="text-center">
                <span class="circle">  
                    <i class="fa fa-circle-o-notch"></i>
                </span>
                <span class="text-center font-size-14 fg-rd">
                    Todos
                </span>
            </a>
              
              
              
              
              
              
              
          </div>
          
      
      </div>
  </div>
</div>

    <hr>
<div class="main-title">
  <div class="row ">
    <div class="col-md-12">
      <h1 class="typl8-mega font-collaborate">
          Como a Ciatech quadruplicou os acessos ao site<br> e o número de Leads gerados
      </h1>   
    
        <div class="row company-container margin-top-60">
                <div class="col-md-3  company-logo-holder border-right-1">
                    <a href="http://www.ciatech.com.br/" target="_blank">
<!--                    <img src="http://blog.rdstation.com.br/wp-content/uploads/2013/06/ciatech_logo.jpg" width="160">-->
                    <%=image_tag("ciatech_logo.png", alt:'Felipe Manhem', width:'160')%>
                        </a>
                </div>
                <div class="col-md-9 padding-top-5">
                    <small>Sobre a Ciatech</small>
                    <p class="font-size-14">
                        A Ciatech é uma companhia especializada em soluções B2B para o treinamento e desenvolvimento corporativo à distância por meio de conteúdos e-Learning personalizados, conteúdos de catálogo, plataforma LMS, redes sociais corporativas e consultoria e governança
                    </p>
                </div>
        </div>
        
    </div>
    
  </div>
</div>

    
      
<div class="before-bg padding-top-20 margin-top-20">
  <div class="container">
    <div class="row ">
        <div class="col-md-3 margin-left-80">
            <div class="margin-left-40 margin-bottom-10">
            <%=image_tag("idea.png")%>
                </div>
        </div>
        <div class="col-md-8 margin-top-20">
            <h4 class="uppercase font-lighter conquer-headline">Conquistar visitantes qualificados e convertê-los em Leads</h4>
            <p class="fg-white font-size-20 line-height subheaderp">
        O site vinha atraindo um número considerável de visitas, mas a empresa percebeu que não conseguia mensurar e conhecer seus usuários. </p>
            <p class="fg-white line-height font-size-16 text-indent-0 margin-top-5" >
               Dentro de uma nova estratégia de posicionamento online, era preciso conquistar visitantes qualificados e convertê-los em leads.  A empresa precisava ter maneiras mais eficazes de atrair esse público-alvo e gerar conversões, mas não sabia como operacionalizar essas ações.
            </p>
        </div>
    </div>
    </div>
</div>              
<div class="solution-bg">
        <div class="container">
            <div class="row margin-top-60">
            <h1 class="title-accent font-lighter uppercase margin-left-10">Solução</h1>
            <div class="col-md-6 margin-top-20">
            
                <p  class="font-bold">
                    A partir da utilização do RD Station e com a orientação dos consultores da Resultados Digitais, a empresa passou a trabalhar suas estratégias de marketing com objetivos e metas bem definidos.
                </p>
               
          
                <p>
                    Para atingir seus objetivos de trazer mais visitantes qualificados para o site e convertê-los em Leads, a empresa vem desenvolvendo conteúdos ricos que disponibiliza gratuitamente por meio de Landing Pages, criadas no sistema de forma instantânea e sem a necessidade do auxílio de um designer. Hoje já são mais de 60 páginas de conversão geradas pela empresa por meio do software.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
             <aside class="baloon-quote">
                <blockquote>
                        <p class="fg-white">
                            “Passamos a perceber os benefícios de nossa presença online e a direcionar melhor os esforços em marketing digital.</p>
                    <p class="fg-white">Com a ajuda da consultoria, conseguimos identificar as ações que deveriam ser priorizadas. O trabalho de consultoria da Resultados Digitais é importante neste sentido.”

                            </p>
                </blockquote>
                  
            </aside>
               <div class="quote-author fg-white text-center">
                    Felipe Menhem
                    <br>
                    <small>Analista de comunicação e marketing da Ciatech</small>
                
            </div>
        </div>
            </div>
        </div>
</div>  
<div class="container">
<div class="row margin-top-60">
    <div class="col-md-12">
        <figure class="text-center">
            <%=image_tag("cliente.png", alt:'Felipe Manhem', width:'120')%>
          
            <figcaption class="text-center">
                <p >Felipe Menhem<br>
                    <small class="margin-top--30">Analista de comunicação e marketing da Ciatech</small>
                </p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-8 col-md-offset-2 margin-top--20">
           <aside class="typl8-pull-quote">
    <blockquote>
            <p class="text-center">
O RD Station é uma ferramenta muito fácil de usar. Permite gerenciar Landing Pages, onde eu posso ter controle e saber quem são as pessoas que estão interessadas no meu conteúdo e trabalhar de acordo com o interesse no meu negócio. Pelo software posso também monitorar uma série de outros fatores e dados que são importantes para quem trabalha com comunicação e marketing online.
                </p>
    </blockquote>
               </aside>
    </div>
    <div class="col-md-3">
        
        
        
        
    </div>
</div>
    
   
    
    </div>    

<div class="chart-bg">
    <div class="container">
        <div class="row margin-top-40">
            <div class="col-md-6 margin-top-40">
                <p>
                    Utilizando o Painel de palavras-chave do RD Station, a equipe de marketing identifica os termos que melhor devem ser otimizados on-page (SEO), analisando a concorrência, o posicionamento no ranking, as taxas de conversão. Também avalia os resultados dos investimentos realizados em Google Adwords, por meio de informações que auxiliam a economizar e a garantir um retorno efetivo sobre cada termo.
                </p>
            
            </div>
        <div class="col-md-6">
            <figure class="text-center">
                <img src="https://dl.dropboxusercontent.com/u/1038432/testes-rd/grafico.png" height="260">
                <figcaption class="text-center">
                    <small >Uma das palavras-chave monitoradas pela Ciatech no painel do RD Station.</small>
                </figcaption>
            </figure>
        </div>
        </div>
        <div class="row margin-top-40">
            <div class="col-md-10 col-md-offset-1">
                <p class="text-center font-size-16">
            Paralelamente, a Ciatech monitora a movimentação de Leads e as estatísticas de visitas e fontes de tráfego para verificar a efetividade das ações. Outra ferramenta bastante utilizada pela empresa é a de agendamento diário de publicações nas redes sociais, permitindo que os horários de publicações sejam mais adequados e melhor distribuídos.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container margin-top-40">        
        <h1 class="title-accent font-lighter uppercase margin-left-20">Resultados</h1>           
        
        <div class="row margin-top-40">
            

                 <div class="col-md-6 margin-top-80">
            <div class="result-container">
                <div class="result-data">
                    <span class="circle larger text-center">  
                        <span class="title-accent result-container-value font-lighter">4x</span>
                    </span>
                    <p class="font-size-14 text-center margin-top-10 line-heigh-1p2">número de acessos em um período de um ano</p>
                </div>
                <div class="result-data">
                    <span class="circle larger  text-center ">  
                        <span class="title-accent result-container-value font-lighter">4x</span>
                    </span>
                    <p class="font-size-14 text-center margin-top-10 line-heigh-1p2">número de Leads gerados</p>
                    
                </div>
                <div class="result-data">
                    <span class="circle larger  text-center">  
                        <span class="title-accent result-container-value font-lighter">17</span>
                    </span>
                    <p class="font-size-14 text-center margin-top-10 line-heigh-1p2">termos que aparecem na primeira página do Google</p>
                    
                </div>
                
            </div>
</div>
            <div class="col-md-6 margin-top-20">
                <p class="fg-rd font-size-20">
                O posicionamento das páginas da empresa na lista dos resultados de buscas também teve um incremento bem significativo.                  </p> 
                <p class="font-size-16 text-indent-0">
                Atualmente, dentre as palavras-chave monitoradas, a Ciatech conta com 17 termos que aparecem na primeira página do Google. <span class="title-accent">Uma melhoria e tanto</span>, considerando que há um ano, apenas duas dessas palavras-chave apareciam na primeira página. E já são 7 termos entre as 3 primeiras posições.</p>
                
                <p class="fg-rd font-size-16 text-indent-0 margin-top-3">Esses números são indicativos de que os acessos e, consequentemente, os Leads tendem a crescer ainda mais, superando as expectativas.</p>
            </div>
        
        
       
        </div>
         </div>
        <div  class="result-quote margin-top-40">
            <div class="container">
                <div class="row margin-top-60">   
              <div class="col-md-3 col-md-offset-1">
                    <figure class="text-center">
                         <%=image_tag("cliente.png", alt:'Felipe Manhem', width:'120')%>

                         <figcaption class="text-center ">
                            <p >Felipe Menhem<br>
                                <small class="margin-top--30">Analista de comunicação e marketing da Ciatech</small>
                            </p>
                        </figcaption>
                    </figure>     
                </div>
            <div class="col-md-8">
                       <aside class="typl8-pull-quote fg-white">
                            <blockquote >
                                    <p >Como resultado das novas estratégias de marketing digital implementadas, conseguimos quadruplicar o número de acessos em um período de um ano. O mesmo aconteceu com a quantidade de Leads gerados.
                                        </p>
                            </blockquote>
                       </aside>
                </div>


            </div>
            </div>
        </div>
   
</div>


<script type="text/javascript">
        $(document).ready(function(){
    
            
            $(".main-title").velocity("transition.flipBounceYIn", {duration: 400, delay: 450,
    easing: "ease-in"});
            
            $(".segments li").velocity("transition.perspectiveLeftIn", {duration: 350, stagger: 200, delay 250});
            
    
});
    </script>